.btn-validar{
    text-decoration: none;
    background-color: #dfdfdf;
    padding: 8px;
    border-radius: 11px;
    color: rgb(66, 66, 66);
    text-align: 'center';
}

.btn-validar:hover{
    color:black;
}